:root{
	--mainColor:#006666;
	--secondaryColor:#006633;

	--borderColor:#1d1520;

	--mainText:#000000;
	--secondaryText:#000000;

	--themeDotBorder:#000000;

	--previewBg:rgb(180, 180, 180, 0.8);
	--previewShadow:#006666;


	--buttonColor:#000000;


}
